<h1>Add a new album</h1>

<form action="/albums" method="post"> 
  <div class="form-group">
    <label for="album_name">Album name</label>
    <input id="name" name="album_name" class="form-control" type="text">
    <label for="album_year">Album year</label>
    <input id="year" name="album_year" class="form-control" type="text">
    <label for="album_genre">Album genre</label>
    <input id="genre" name="album_genre" class="form-control" type="text">
    <label for="album_artist">Album artist(s)</label>
    <input id="artist" name="album_artist" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-dark">Go!</button>
</form>